
.card-title {
    font-size: 1.25rem; /* Font size for the product name */
    font-weight: bold; /* Make the text bold */
    color: #333; /* Darker color for better visibility */
}

.product-price {
    font-size: 1.5rem; /* Slightly larger font size for the price */
    font-weight: bold; /* Make the text bold */
    color: #e83e8c; /* Highlight color for the price */

}

.card-body {
    padding: 1.5rem; /* Add padding to the card body for better spacing */
}

.card-img-top {
    border-bottom: 2px solid #e83e8c; /* Border for image */
    padding-bottom: 1rem; /* Space between image and text */
}

.card {
    border-radius: 10px; /* Rounded corners for the card */
    overflow: hidden; /* Hide any overflow from the card */
}
.btn-add-to-cart, .btn-view-details {
    border-radius: 25px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-add-to-cart {
    background-color: #a5d6a7; /* Green pastel */
    color: #fff;
}

.btn-add-to-cart:hover {
    background-color: #81c784; /* Slightly darker green */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-view-details {
    background-color: #b3e5fc; /* Blue pastel */
    color: #000;
}

.btn-view-details:hover {
    background-color: #81d4fa; /* Slightly darker blue */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-custom {
    font-size: 16px;
    justify-content: space-between;

}